@charset "UTF-8";
.login .content h3, .login .content h4{
  color : rgb(84, 28, 48);
}
.page-header.navbar .page-logo .logo-default {
  margin-top:0px;
}
.page-content{
    background-color: : #eef1f5;
  }
  .search-content-4 .search-table td, .search-content-4 .search-table th{
    padding: 10px;
  }
.search-content-4 .search-bar .extra-buttons button:last-child{
  width: auto;
}
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    background: #c3788c!important;

}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
    background: #c3788c!important;
}
#page-program-detail .form-control-static{
  /*color: #c3788c;*/
  color: #3598dc!important;
}
#page-program-detail .form-group{
  margin-bottom: 0px;
}
.login {
    background-color: #ffcfdc!important;
}
#page-program-detail #select-program-area .md-radio-inline{
  padding-left: 20px;
}
#view-basic-info ul li{
  list-style: none;
}
#mycourse-todolist{
  margin-top: 10px;

}
#mycourse-todolist .alert{
  margin-top: 0px;

}
#select-program-area .md-radio{
  border-bottom: 1px solid;
  border-color: #e7ecf1;
}
.about-header h1 {
  margin-top: 10px;
}
.about-header{
  height: 300px;
}
.about-text>h4{
    background: #c3788c!important;
        padding: 0.5em 20px;
            font-size: 20px;
}
.about-text{
  height: auto;
}
#eduBackForm .note{
margin: 0px;

}
table.dataTable thead .sorting {
background: url("../assets/global/plugins/datatables/images/sort_both.png") no-repeat center right;
}
table.dataTable thead .sorting_asc {
background: url("../assets/global/plugins/datatables/images/sort_asc.png") no-repeat center right;
}
table.dataTable thead .sorting_desc {
background: url("../assets/global/plugins/datatables/images/sort_desc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc_disabled {
background: url("../assets/global/plugins/datatables/images/sort_asc_disabled.png") no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled {
background: url("../assets/global/plugins/datatables/images/sort_desc_disabled.png") no-repeat center right;
}
table.dataTable thead .sorting_asc:after {
    content: none;
}
table.dataTable thead .sorting:after {
    content: none;
}
table.dataTable thead .sorting_desc:after {
    content: none;
}
