
/* ==================================================
 * 1) General Styling
 * ================================================== */
input[type="text"],input[type="password"], textarea, select {
    /*display: block;*/
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    padding: 4px 0;
    outline: none;
    /* Inset shadow */
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
    box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
}

input[type="button"]{
    border-radius: 5px;
}

.input {
    margin: 10px 0;
}

input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
    border: 1px solid #a3a3a3;
}

input:active, input:focus, textarea:active, textarea:focus  {
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
    box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
}


/*custom upload elements*/
.customfile-input { position: absolute; height: 100px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 2222;  }

.customfile { background: #fff; cursor: pointer; overflow: hidden; padding: 2px; border: 1px solid #C8C8C8; -moz-border-radius:7px; -webkit-border-radius:5px; border-radius:5px;  position: relative; box-shadow: 0 2px 3px 0 rgba(18, 16, 11, 0.13) inset; }
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block; margin: 1px 1px 1px 5px; color: #C8C8C8; font-style: italic; padding: .3em .6em; margin-right: 60px; overflow: hidden; }
.customfile-feedback-populated { color: #54616A; font-style: normal; font-weight: bold; padding-left: 20px; background: url(../img/icons/packs/fugue/16x16/blue-document.png) no-repeat; }
.customfile-button { float: right}
.ie .customfile-button { position: absolute; right: 2px; top: 2px;}


.customfile-ext.csv{
    background:url(../img/icons/packs/fugue/16x16/document-excel-csv.png) no-repeat;
    display:block;
}
.customfile-ext.xls,.customfile-ext.xlsx{
    background:url(../img/icons/packs/fugue/16x16/document-excel.png) no-repeat;
    display:block;
}
.customfile-ext.doc,.customfile-ext.docx{
    background:url(../img/icons/packs/fugue/16x16/document-word.png) no-repeat;
    display:block;
}
.customfile-ext.ppt,.customfile-ext.pptx{
    background:url(../img/icons/packs/fugue/16x16/document-powerpoint.png) no-repeat;
    display:block;
}
.customfile-ext.swf{
    background:url(../img/icons/packs/fugue/16x16/document-flash.png) no-repeat;
    display:block;
}
.customfile-ext.jpg,.customfile-ext.jpeg,.customfile-ext.gif,.customfile-ext.png{
    background:url(../img/icons/packs/fugue/16x16/document-image.png) no-repeat;
    display:block;
}
.customfile-ext.pdf{
    background:url(../img/icons/packs/fugue/16x16/document-pdf.png) no-repeat;
    display:block;
}