
Icons 
.menu a.messages { background: url(../img/bubble.png) no-repeat 6px center; }
.menu a.signout { background: url(../img/arrow.png) no-repeat 6px center; }

/*body {margin:0px; font:11px Verdana,Arial; background:#eee}*/

ul.menu {
    list-style:none; margin:0; padding:0;
    padding: 0 0 0 10px;
    height: 40px;
    width: 705px;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
ul.menu * {margin:0; padding:0}

ul.menu a {display:block; 
           color: #F3F3F3; 
           text-decoration:none;
           border: none;
           outline: none;
}

ul.menu li {position:relative; float:left; height: 25px; margin-right:2px;z-index: 100;}
ul.menu ul {
    position:absolute; 
    top:40px; left:0; 
    color: #F3F3F3; 
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:none; 
    opacity:0; 
    list-style:none;
}
ul.menu ul li {position:relative; border:0px solid #aaa; border-top:none; height: 25px; width:300px; margin:0}
ul.menu ul li:last-child a { border: none; }
ul.menu ul li a {
    display:block; 
    padding:3px 7px 5px; 
    color: #F3F3F3; 
    background-color:#4c4e5a;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);    

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/docs.png") no-repeat scroll 6px center rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color -moz-use-text-color #353539;
    border-image: none;
    border-style: none none solid;
    border-bottom: 1px solid #353539;
    margin: 0;
    padding: 0px 0 4px 35px;
}
ul.menu ul li a:hover {color: #8fde62; background-color:#4c4e5a;font-weight:bold;}
ul.menu ul ul {left:300px; top:-1px}
ul.menu .menulink {
    border:0px solid #aaa; 
    padding:10px 10px 14px 10px; 
    font-weight:bold; 
}
ul.menu .menulink:hover, ul.menu .menuhover {color: #8fde62;}
ul.menu .sub {
    background:#4c4e5a url('../img/menu/bullet_arrow.gif') no-repeat;
    background-position: right;
}
ul.menu .topline {border-top:1px solid #aaa}